body {
  background-color: #ffffff;
}

.pass-box-container {
  display: flex;
  flex-direction: column;
  background-color: #111827;
  border: 6px solid white;
  border-radius: 20px;
  width: 550px;
  height: 550px;
  margin: 50px auto 0 auto;
}

.header-container {
  width: 354px;
  height: 80px;
  margin: 115px 52px 0;
}

#headerOne {
  color: #ffffff;
}

#headerTwo {
  color: #4adf86;
}

.parr-container {
  width: 372px;
  height: 28px;
  margin: 14px 52px;
  color: #ffffff;
}

#hrr {
  color: #2f3e53;
  width: 449px;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.btn {
  width: 190px;
  height: 42px;
  margin: 42px 52px;
  background-color: #4adf86;
  color: #ffffff;
  line-height: 40px;
  letter-spacing: -0.025em;
  border-radius: 6px;
}

.pass-gen-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 35px;
  color: white;
}

.pass-generated {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  width: 198px;
  height: 39px;
  border-radius: 6px;
}
